.doc-position {
  font-size: 0.8em;
  margin: 1em 0;
  border-bottom: 1px solid #ccc;
  padding-bottom: 0.5em;
}
.doc-header {
  font-size: 32px;
  margin-bottom: 1em;
}

.content-doctor {
  .doc-about {
    padding: 1rem;
    background: @light-blue;
  }  
}

.teaser-doctor-img {
  min-height: 300px;
  background-size: cover;
  background-position: top center;
}
.vc-gitem-zone-height-mode-auto-1-1 {
  background-position: center top;
}