.dataTables_length {
  margin-bottom: 1rem;
}
.tablepress-10_filter {
  margin-bottom: 1rem;
}

.tablepress {
  thead {
    th {
      background-color: fade(@purple, 70%);
      color: @white;
      padding: 1rem;
      min-width: 100px;
      text-align: center;
    }
  }
  .sorting {
    &:hover {
      background-color: fade(@purple, 80%);
    }
  }
  .sorting_asc, .sorting_desc {
    background-color: @coral;
  }
  .column-4 {
    text-align: right;
    font-weight: 600;
    font-size: 1.2rem;
    &th {
      text-align: center;
    }
  }
}

.dataTables_info {
  font-style: italic;
}
.dataTables_paginate {
  a {
    text-decoration: none;
    &:hover{
      color: @coral !important;
    }
    &.paginate_button.previous:before{
      height: 16px;
      content: "\f0d7";
      text-shadow: none;
      width: 16px;
      line-height: 1;
      font-size: 16px;
      position: static;
      transform: rotate(90deg);
      display: inline-block;
      vertical-align: bottom;
      color: fade(@coral,90%);
      &.disabled {
        color: @cotton;
      }
    }
    &.paginate_button.next:after{
      height: 16px;
      content: "\f0d7";
      text-shadow: none;
      width: 16px;
      line-height: 1;
      font-size: 16px;
      position: static;
      transform: rotate(-90deg);
      display: inline-block;
      vertical-align: bottom;
      color: fade(@coral,90%);
      &.disabled {
        color: @cotton;
      }
    }
  }
}
i.js-added {
  margin-left: 7px;
  &.fa-file-pdf-o {
    color: red;
  }
  &.fa-file-photo-o {
    color: @purple;
  }
  &.fa-file-word-o {
    color: #147fe8;
  }
  &.fa-download {
    color: @tin;
  }
}



@media @media-sm-max{
	.tablepress {
  	font-size: 0.8em;
  	.column-3 {
    	font-size: initial;
  	}
	}
}