h1 {
  letter-spacing: 2px;
  text-transform: uppercase;
  position: relative;
  z-index: 2;
}
.container {
  max-width: 75rem;
  margin: auto;
}

.content {
  padding: @indent-large 0;
  .wpb_text_column {
    ul:not(.no-zub) {
      margin-left: 0;
      list-style-type: none;
      li {
        position: relative;
        padding-left: 30px;
        &:before{
          content: '';
          position: absolute;
          left: 0;
          top: 5px;
          width: 16px;
          height: 16px;
          background: url(../images/tooth.svg) no-repeat center center;
          background-size: contain;
        }
      }
    } 
  }
}
.wpb_wrapper {
  .flexslider {
    border: none;
    border-radius: 0;
  }
}
.contact-header	{
  .tel {
    color: @font-color;
  }
}
.official-list {
  a {
    text-decoration: underline;
    color: @font-color;
  }
}
.home-feature-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0;
  li {
    width: 20%;
    text-align: center;
    margin-bottom: 15px;
    padding: 10px;
    line-height: 1.2;
    font-weight: @font-weigth-semibold;
  }
}



.footer {
  padding: @indent-large 0;
  background: @darkpurple;
  color: fade( @white, 80% );
  a {
    color: @white;
  }
}


// overrides
.vc_row-fluid.padding-big-tb .wpb_gallery {
  margin-bottom: 0;
}


@media @media-sm-max{
  .home-feature-list {
    li {
      width: 50%;
    }
  }
  .contact-header	{
    font-size: 0.9rem;
  }
}