// Foundation variables goes here, before including foundation framework


// Automatically injected Bower dependencies via wiredep (never manually edit this block)
// bower:scss
@import '../../bower_components/foundation-sites/scss/foundation.scss';
// endbower

// @include foundation-everything;

@import 'settings';

/*
@import 'foundation';
@import 'motion-ui';
*/

@include foundation-global-styles;
@include foundation-flex-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
@include foundation-visibility-classes;
// @include foundation-float-classes;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-close-button;
@include foundation-drilldown-menu;
@include foundation-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
// @include foundation-flex-video;
@include foundation-label;
@include foundation-media-object;

@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
// @include foundation-top-bar;

/*
@include motion-ui-transitions;
@include motion-ui-animations;
*/

.column.row.row, .row.row.columns {
  display: flex;
}
@media screen and (max-width: 600px) {
    #wpadminbar {
		position: fixed !important;
	}
}