.main-menu {
  padding: @indent-medium 0;
}
#menu-osnovnoe-menyu {
  a {
    color: @purple;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: @font-family-alter;
    padding: @indent-tiny @indent-small;
    position: relative;
    letter-spacing: -0.1px;
    &:hover {
      &:after {
        @indent: @indent-small * 2;
        content: '';
        width: ~'calc(100% - @{indent} )';
        height: 2px;
        background: @active;
        position: absolute;
        bottom: 0;
        left: @indent-small;
      }
    }
  }
  .current-menu-item {
    a {
      &:after {
        @indent: @indent-small * 2;
        content: '';
        width: ~'calc(100% - @{indent} )';
        height: 2px;
        background: @active;
        position: absolute;
        bottom: 0;
        left: @indent-small;
      }
    }
  }
}
.logo-img {
  padding: 10px;
}
.menu-icon {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 16px;
  cursor: pointer;
  &:after{
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 2px;
    background: @white;
    box-shadow: 0 7px 0 @white, 0 14px 0 @white;
    content: '';    
  }
}
.site-title-bar {
  justify-content: flex-end;
}

.menu-item {
  position: relative;
  .submenu {
    top: 100%;
    left: 0;
    z-index: 150;
    right: auto;
    padding: 1rem 0;
    border: none;
    font-size: 0.9em;
    box-shadow: @shadow;
  }
  &.menu-item-has-children:hover {
    & > .submenu.dropdown {
      display: block;
    }
  }
}




@media @media-md-min{
  .logo-img{
    padding: 10px 30px;
    background: @purple;
    max-height: 112px;
  }
}
@media @media-sm-max{
	.main-menu {
  	background: mix(@purple, @darkpurple, 50%);
  	position: absolute;
  	z-index: 101;
  	width: 100%;
	}
  #menu-osnovnoe-menyu {
    flex-direction: column;
    a {
      color: @white;
    }
    .is-dropdown-submenu {
      background: @darkpurple;
      width: 100%;
      position: static;
    }
  }
}