.service-header {
  padding: @indent-big 0;
  min-height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  &:before {
    .full-bg();
    background: fade(@purple, 40%);
  }
  h1 {
    color: #fff;
    font-family: @font-family-alter;
  }
  &.no-img {
    background: @purple;
    min-height: none;
  }
}

.featured-teaser {
  padding: @indent-large;
  background: #fff;
  max-width: 450px;
  position: relative;
  z-index: 1;
  box-shadow: @shadow;
  margin-bottom: -50%;
  margin-top: @indent-large;
  margin-bottom: -3 * @indent-large;
  font-family: @font-family-alter;
  text-transform: uppercase;
  font-weight: @font-weigth-semibold;
  
  p {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

/*
.price-wrapper {
  .price-repeat {
    display: flex;
    justify-content: space-between;
  }
  .price-name, .price-value {
    padding: 10px 20px;
  }
  .price-value {
    text-align: right;
    font-size: 1.2em;
    font-weight: 600;
  }
}
*/

.content-service {
  margin-top: @indent-large;
}